.center {
    display: block;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
}

/* 
html.theme--documenter-light {
    text-align: justify;
    text-justify: inter-word;
}

html.theme--documenter-dark {
    text-align: justify;
    text-justify: inter-word;
}

html.theme--catppuccin-latte {
    text-align: justify;
    text-justify: inter-word;
}

html.theme--catppuccin-frappe {
    text-align: justify;
    text-justify: inter-word;
}

html.theme--catppuccin-macchiato {
    text-align: justify;
    text-justify: inter-word;
}

html.theme--catppuccin-mocha {
    text-align: justify;
    text-justify: inter-word;
} */
